.task__control {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  background-image: url(../../../img/unchecked.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(238, 192, 76);
  border: none;
}

.task__control:hover {
  cursor: pointer;
}