.task__button{
  margin: 0;
  padding: 0;
  width: 200px;
  height: 25px;
  background-color: #000;
  color: #fff;
  transition: all 1s;
}

.task__button:hover{
  cursor: pointer;
  background-color: rgba(19, 19, 16, 0.8);
}