.navigation__button{
  margin: 0;
  padding: 0;
  width: 160px;
  height: 23px;

  font-weight: 400;
  font-size: 18px;
  line-height: 15px;
  transition: all 1s;
  background-color:  rgb(10, 10, 10);
  color: #fff;
}

.navigation__button:hover{
  cursor: pointer;
  background-color: rgb(10, 10, 10, .8);
}